
on: [push]

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        run: |
          docker build . --tag ghcr.io/deselikem/hello-docker-gcr-demo:latest
          docker run ghcr.io/deselikem/hello-docker-gcr-demo:latest
          docker push ghcr.io/deselikem/hello-docker-gcr-demo:latest
